
html, body, iframe, h1, h2, h3, h4, h5, h6{margin:0px; padding:0px; border:0px; font: inherit; vertical-align:baseline; font-weight:normal; font-size:14px; line-height:18px;font-family:Helvetica, Arial, sans-serif; -webkit-font-smoothing:subpixel-antialiased; font-smoothing:antialiased; font-smooth:antialiased; -webkit-text-size-adjust:100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing:subpixel-antialiased !important; font-smoothing:subpixel-antialiased !important; font-smooth:subpixel-antialiased; }
.cl{clear: both;}
ul, ol{margin-top:0px; margin-right:0px; margin-left:0px;  margin-bottom:0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box; padding:0px ; list-style:none;}
li{ margin:0px; padding:0px; }
textarea{min-height: 60px; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px 0px 5px 0px;}
input[type="text"], input[type="password"],  input[type="email"],  textarea,  select{ padding:2px 2px; outline: none; display: block; background: #fff; text-indent:4px; color:#2c2c2c; border: solid 1px #b9b9b9;  -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;  }
input[type="text"]:focus,  input[type="password"]:focus,  input[type="email"]:focus,  textarea:focus{ -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2);}
.button, input[type="submit"], input[type="reset"], input[type="button"] {cursor:pointer; padding:0; }
button::-moz-focus-inner,  input::-moz-focus-inner{border: 0;padding: 0;}
img, object, embed, video{border:0 none; max-width: 100%;}
a:focus {outline:none !important;}


/*------------------------------------ Desktop CSS ---------------------------------------------*/
.wsmenuexpandermain{position: relative;}
.overlapblackbg{ display:none;}
.wsmenu{
	font-family:Helvetica, sans-serif;
	color:#fff;
	position:relative;
	font-size:14px;
	padding:0px;
	margin:0px auto;
	width:100%;
	max-width:1200px;
	background-color:#01458e;
}
.wsmenu-list{
	text-align:left;
	margin:0 auto 0 auto;
	width:100%;
	padding:0px;}

    .wsmenu-list > li {
        text-align: center;
        display: table-cell;
        height: 50px;
        vertical-align: middle;
    }
        .wsmenu-list > li.active {
            background-color: rgba(0,0,0,0.3) !important
        }
	
.wsmenu-list li:first-child a{
	-webkit-border-radius:4px 0px 0px 0px;
	-moz-border-radius:4px 0px 0px 0px;
	border-radius:4px 0px 0px 0px;}
	
.wsmenu-list li:last-child a{
	-webkit-border-radius:0px 4px 0px 0px;
	-moz-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px;
	border-right:0px solid;}
	
.wsmenu-list > li > a .fa{
	display: inline-block;
	font-size:16px;
	margin-right:0px;}
	
.wsmenu-list li ul li a .fa.fa-angle-double-right{ font-size:12px; margin: 0 3px 0 -4px;}

.wsmenu-list li a .arrow:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #b3b3b3;
    content: "";
    float: right;
    height: 0;
    margin: 0 0 0 9px;
    position: absolute;
    text-align: right;
    top: 22px;
    width: 0;}

.wsmenu-list > li > a{
	display:block;
	background-color:#fff;
	color:#424242;
	padding:0px 15px; 
    /*line-height:50px;*/
	border-right:1px solid rgba(0,0,0,0.10);
	text-decoration:none;
	position:relative;
	}

.wsmenu-list li a:hover .arrow:after{ border-top-color:#b3b3b3}
.wsmenu-list li a.active .arrow:after{ border-top-color:#b3b3b3}
.wsmenu-list li:hover>a .arrow:after{ border-top-color:#b3b3b3}

.megamenu iframe{width:100%; margin-top:10px; min-height:200px; }
.megamenu video{ width:100%; margin-top:10px;  min-height:200px;}

/*For megamenu desktop */
.wsmenu-list li:hover .megamenu{opacity:1;}
.megamenu{
	width:100%;
	left:0px;
	position:absolute;
	top:52px;
	color:#000;
	z-index:1000;
	margin:0px;
	text-align:left;
	padding:14px;
	font-size:14px;
	border:solid 1px #eeeeee;
	background-color:#fff;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;}

.megamenu .title{
	border-bottom:1px solid #CCC;
	font-size:14px;
	padding:9px 5px 9px 0px;
	font-size:17px;
	color:#424242;
	margin-bottom:7px;
	text-align:left;
	min-height:39px;
	}
	
.link-list li{
	display:block;
	text-align:center;
	text-align:left;}
	
.link-list li a{
	line-height:18px;
	border-right:none;
	text-align:left;
	padding:6px 0px;
	background:#fff !important;
	background-image:none !important;
	color: #666666;
	border-right: 0 none !important;
	display:block;
	border-right:1px solid #e7e7e7;
	background-color:#fff;
	color:#424242;}
	
.link-list .fa{font-size:12px;}

.megacollink{width:23%; float:left; margin:0% 1%;}	
.megacollink li{
	display:block;
	text-align:center;
	white-space:nowrap;
	text-align:left;}
.megacollink li a{
	line-height:18px;
	border-right:none;
	text-align:left;
	padding:8px 0px;
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	display:block;
	border-right:1px solid #e7e7e7;
	background-color:#fff;
	color:#424242;}
.megacollink .fa{font-size:11px;}

.megacolimage{width:31.33%; float:left; margin:0% 1%;}	
.typographydiv{width:100%; margin:0% 0%;}	
.typographylinks{width:25%; float:left; margin:0% 0%;}	
.mainmapdiv{ width:100%; display:block; margin:0% 0%; }

.wsmenu-list .ad-style{width:28%; float:right;}
.wsmenu-list .ad-style a{border:none !important; padding:0px !important; margin:0px !important; line-height:normal !important; background-image:none !important;}
.mobile-sub .megamenu .ad-style a:hover{ background-color:transparent !important; }
.wsmenu-list .megamenu  li:hover>a{background:transparent !important; }
.wsmenu-list .megamenu  li a:hover{background:transparent !important; color:#F00 !important}

.wsmenu-list .megamenu li .fa {  margin-right:5px;    text-align: center;    width: 18px;}
.mrgtop{ margin-top:15px; }
.show-grid div{padding-bottom: 10px; padding-top: 10px; background-color:#dbdbdb; border: 1px solid #e7e7e7; color:#6a6a6a; margin:2px 0px;}

/*For halfmenu */
.halfmenu{
	width:50%;
	right:auto !important;
	left:auto !important;}

.halfmenu .megacollink{
	width:48%;
	float:left;
	margin:0% 1%;}		
/*For halfmenu */	


/*Form for desktop */
.halfdiv{
	width:35%;
	right:0px !important;
	left:auto;}
	
.menu_form{width:100%; display:block;}
.menu_form input[type="text"]{
	width:100%;
	border:1px solid #e2e2e2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#000;
	font-size:13px;
	padding:8px 5px;
	margin-bottom:8px;
	}
.menu_form textarea{
	width:100%;
	border:1px solid #e2e2e2;
	border-radius:5px;
	color:#000;
	font-size:13px;
	padding:8px 5px;
	margin-bottom:8px;
	min-height:122px;}
	
.menu_form input[type="submit"]{width:25%; display:block; height:28px; float:right;  border:solid 1px #ccc; margin-right:15px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.menu_form input[type="button"] {width:25%; display:block; height:28px; float:right; border:solid 1px #ccc; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}

.megamenu .left.carousel-control{ padding-top:20%; }
.megamenu .right.carousel-control{ padding-top:20%; }
.carousel-inner .item img{ width:100%; }
.megamenu .carousel-caption{
	bottom:0px;
	background-color:rgba(0,0,0,0.7);
    font-size: 13px;
    height: 31px;
    left: 0;
    padding: 7px 0;
    right: 0;
    width: 100%;}

/*Animation*/
.wsmenu-list li > .wsmenu-submenu{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
		}
	
.wsmenu-list li:hover > .wsmenu-submenu{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	
	}

.wsmenu-submenu li > .wsmenu-submenu-sub{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-submenu li:hover > .wsmenu-submenu-sub{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	
	}

.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}


.wsmenu-list li > .megamenu{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-list li:hover > .megamenu{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	
	}

	
/* Submenu CSS */
.wsmenu-submenu{
	position:absolute;
	top: 50px;
	z-index:1000;
	margin:0px;
	padding:2px;
	border:solid 1px #eeeeee;
	background-color:#fff;
	max-height:400px;
	overflow-y:auto;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;}

.wsmenu-submenu li a {
	background:#fff !important;
	background-image:none !important;
	color: #666666 ;
	border-right: 0 none !important;
	text-align:left;
	display:block;
	line-height:18px;
	padding:6px 12px;
	text-transform:none; 
	font-size:14px;
	letter-spacing:normal;
    white-space: nowrap;
	border-right:0px solid;}

.wsmenu-submenu li{position:relative; margin:0px; padding:0px;}

.wsmenuexpandermain{display:none;}

.wsmenu-list li:hover .wsmenu-submenu{display:block;}

.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub{min-width:220px; position:absolute; left:100%; top:0; margin:0px; padding:0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;}
	
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{opacity:1; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{display:block;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub .wsmenu-submenu-sub-sub{
	min-width:220px; position:absolute; left:100%; top:0; margin:0px; padding:0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;}
	
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub{opacity:1; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}

.wsmenu-submenu li{position:relative; padding:0px; margin:0px; display:block;}

.wsmenu-click{display:none;}


/* Default Theme */ 
.wsmenu-list li:hover>a{text-decoration:none;background-color: rgba(0,0,0,0.08) !important;}
.wsmenu-list > li > a:hover { text-decoration:none;}
.wsmenu-list > li > a.active{background-color:rgba(0,0,0,0.3) !important; text-decoration:none; }
.wsmenu-submenu > li > a:hover {color:#F00 !important; border-radius:0px!important; text-decoration:none;  text-decoration:none;}

.typography-text { padding:0px 0px; font-size:14px;}
.typography-text p{ text-align:justify; line-height:24px; color:#656565;}
.typography-text ul li{ display:block; padding:2px 0px; line-height:22px;}
.typography-text ul li a{color:#656565;}
.hometext{display:none;}
.wsmenu-submenu .fa{ margin-right:7px;}


@media only screen and (min-width:780px) and (max-width:1023px) {
.wsmenu{ font-size:13px !important;}
.wsmenu-list li a { white-space:nowrap !important; padding-left:10px !important; padding-right:10px !important;}
.megacollink {width:48%; margin:1% 1%;}
.typographylinks{width:48%; margin:1% 1%;}
}


@media only screen and (min-width: 781px) and (max-width:1200px) {
.wsmenu-list li a .arrow:after{ display:none !important; }
}

@media only screen and (min-width: 781px) {

.wsmenu-list li:hover > .wsmenu-submenu{display:block !important;}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub{display:block !important;}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{display:block !important;}
.wsmenu-list li:hover > .megamenu{display:block !important;}

}


/*------------------------------------ Mobile CSS ---------------------------------------------*/
@media only screen and (max-width: 780px) {
.wsmenu-list > li:hover>a{background-color:rgba(0,0,0,0.08) !important; text-decoration:none;}
.hometext{ display:inline-block !important; }
.megacollink {width:96% !important; margin:0% 2% !important; }
.megacolimage{width:90% !important; margin:0% 5% !important;}
.typographylinks{width:98% !important; margin:0% 1% !important;}	
.typographydiv{width:86% !important; margin:0% 7% !important;}	
.mainmapdiv{width:90% !important; margin:0% 5% !important; }

.overlapblackbg{
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	display:none;
	background-color:rgba(0, 0, 0, 0);
	cursor:pointer;}
	
.overlapblackbg.menuopen{display:block;}

/* Default Theme */ 
.wsmenu-submenu > li:hover>a{ background-color:#7b7b7b; color:#666666;}
.wsmenu > .wsmenu-list > li > a.active{color: #666666; background-color:rgba(0,0,0,0.08);}
.wsmenu > .wsmenu-list > li > a:hover{ color: #666666; background-color:rgba(0,0,0,0.08);}	

.wsmenu-list li:hover .wsmenu-submenu{display:none ;}
.wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub{display:none;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub{display:none; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}
.wsmenu-list li:first-child a{-webkit-border-radius:0px 0px 0px 0px; -moz-border-radius:0px 0px 0px 0px; border-radius:0px 0px 0px 0px;}
.wsmenu-list li:last-child a{-webkit-border-radius:0px 4px 0px 0px; -moz-border-radius:0px 0px 0px 0px; border-radius:0px 0px 0px 0px; border-right:0px solid;}

.innerpnd{ padding:0px !important; }
.typography-text { padding:10px 0px; }

.wsmenucontainer{
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	min-height:800px;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
	
.wsmenuexpandermain{
	display:block !important;
	position:relative;
	top:0;
	right:0;
	left:0;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	}

/* Mobile click to drop arrow */
.wsmenu-click {
	height:43px;
	position:absolute;
	top:0;
	right:0;
	display:block;
	cursor:pointer;
	width:100%;
	}

.wsmenu-click i{
	display:block;
	height:23px;
	width:25px;
	margin-top:11px;
	margin-right:8px;
	background-size:25px;
	font-size:21px;
	color:rgba(0,0,0,0.25);
	float:right;
	}

.wsmenu-rotate{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);}

/*2nd UL Style*/
.wsmenu-submenu-sub{
	width:100% !important;
	position:static !important;
	left:100% !important;
	top:0 !important;
	display:none;
	margin:0px !important;
	padding:0px !important;
	border:solid 0px !important;
	transform:none !important;
	opacity:1 !important;
	visibility:visible !important;
	}
	
.wsmenu-submenu-sub li{
	margin:0px 0px 0px 0px !important;
	padding:0px;
	position:relative;}
	
.wsmenu-submenu-sub a{
	display:block;
	padding:10px 25px 10px 25px;
	border-bottom:solid 1px #ccc;
	font-weight:normal;}
	
.wsmenu-submenu-sub li a.active{color:#000 !important;}

.wsmenu-submenu-sub li:hover>a{ background-color:#333333 !important; color:#fff;}

.wsmenu-list > li > a .fa{margin-right:6px;}

.wsmenu-submenu-sub-sub{
	width:100% !important;
	position:static !important;
	left:100% !important;
	top:0 !important;
	display:none;
	margin:0px !important;
	padding:0px !important;
	border:solid 0px !important;
	transform:none !important;
	opacity:1 !important;
	visibility:visible !important;
	}
	
.wsmenu-submenu-sub-sub li{
	margin:0px 0px 0px 0px !important;}
	
.wsmenu-submenu-sub-sub a{
	display:block;
	color:#000;
	padding:10px 25px;
	background:#000 !important;
	border-bottom:solid 1px #ccc;
	font-weight:normal;}
	
.wsmenu-submenu-sub-sub li a.active{ color:#000 !important;}
.wsmenu-submenu-sub-sub li:hover>a{ background-color:#606060 !important; color:#fff;}
.wsmenu{position: relative;}

.wsmenu .wsmenu-list{
	height:100%;
	overflow-y:auto;
	display:block !important;}
	
.wsmenu .wsmenu-list > li{
	width:240px;
	display:block;
	float:none;
	border-right:none;
	background-color:transparent;
	position:relative;
	white-space:inherit;}
	
.wsmenu > .wsmenu-list > li > a{
	padding:9px 32px 9px 17px;
	font-size:14px;
	text-align:left;
	border-right:solid 0px;
	background-color:transparent;
	color:#666666;
	line-height:25px;
	border-bottom:1px solid;
	border-bottom-color:rgba(0,0,0,0.13);
	position:static;
	}
	
.wsmenu > .wsmenu-list > li > a > .fa{font-size: 20px; color:#bfbfbf;}
.wsmenu .wsmenu-list li a .arrow:after{ display:none !important; }
.wsmenu .wsmenu-list li ul li a .fa.fa-caret-right{ font-size:12px !important; color:#8E8E8E; }

.mobile-sub .wsmenu-submenu{
	transform:none !important;
	opacity:1 !important;
	display:none;
	position:relative !important;
	top:0px;
	background-color:#fff ;
	border:solid 1px #ccc;
	padding:0px;
	visibility:visible !important;
	}
	
.mobile-sub .wsmenu-submenu li a{
	line-height:20px;
	height:auto;
	background-color:#e7e7e7 !important;
	font-size:13px !important;
	padding:8px 0px 8px 18px;
	color:#8E8E8E;}

.mobile-sub .wsmenu-submenu li a:hover{ background-color:#e7e7e7  !important; color:#666666; text-decoration:underline; }
.mobile-sub .wsmenu-submenu li:hover>a{ background-color:#e7e7e7 !important; color:#666666; }
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li a{line-height:20px; height:36px; background-color:#e7e7e7 !important; border-bottom:none; padding-left:28px;}
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li .wsmenu-submenu-sub-sub li a{line-height:20px; height:36px; background-color:#e7e7e7 !important; border-bottom:none !important; padding-left:38px; color:#8e8e8e;}

.mrginleft{
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	}

.wsmenu-list .megamenu{
	background-color:#e7e7e7;
	color:#666666;
	display:none;
	position:relative !important;
	top:0px;
	padding:0px;
	border:solid 0px;
	transform:none !important;
	opacity:1 !important;
	visibility:visible !important;
	}
	
.wsmenu-list li:hover .megamenu{display:none; position:relative !important; top:0px; }
.megamenu .title{ color:#666666; font-size:15px !important; padding:10px 8px 10px 0px;}
.halfdiv .title{ padding-left:15px;}
.megamenu > ul{
	width:100% !important;
	margin:0px;
	padding:0px;
	font-size:13px !important;}
	
.megamenu > ul > li > a{
	padding:9px 14px !important;
	line-height:normal !important;
	font-size:13px !important;
	background-color:#F5F2F2 !important;
	color:#666666;}
	
.megamenu > ul > li > a:hover{background-color:#000000 !important;}

.ad-style{ width:100% !important;}

.megamenu ul li.title{
	line-height:26px;
	color:#666666;
	margin:0px;
	font-size:14px;
	padding:7px 13px !important;
	border-bottom:1px solid #ccc;
	background-color:transparent !important;}

.halfdiv{ width:100%; display:block;}
.halfmenu{width:100%; display:block;}

.menu_form{ padding:10px 10px 63px 10px; background-color: #e7e7e7;}

.menu_form input[type="button"]{ width:46%; }
.menu_form input[type="submit"]{ width:46%; }	
.menu_form textarea{min-height:100px;}

.wsmenu {
	width:0px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 50px;
	margin: 0;
	background-color: #fff;
	border-radius:0px;
	z-index:100;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border:none !important;
	background-color:#01458e !important;
	}

/*Nav Expanding Open Effect*/
.wsmenu.menuopen {
	width:240px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	}
 
.wsmenu.menuclose{
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	}
 
.wsmenucontent{z-index:1;}
 
/* Navigation arrow Animation */
.animated-arrow{
	position:fixed;
	right:0; top:0; z-index:200;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	}
	
.callusicon{
	color: #ffffff;
    font-size: 25px;
    height: 25px;
    position: fixed;
    right: 15px;
    top: 13px;
    
    width: 25px;
    z-index: 2;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	}	
	
.callusicon:focus, callusicon:hover {
    color: #fff !important;
}

.mrginleft .callusicon{ display:none !important; }

.wsmenuexpandermain .menuopen{
	
	margin-top:10px !important;
}
 
.smallogo{ width:100%; display:block; padding-top:8px;text-align:left; padding-left:10px;position:fixed; 
	z-index:100;
	width:100%;
	height:52px;
	background-color:#01458e;
}

.animated-arrow{
	cursor:pointer;
	padding:13px 35px 16px 0px;
	margin:10px 0 0 15px;}
	
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
	cursor: pointer;
	height:3px;
	width:23px;
	background: #ffffff;
	position: absolute;
	display: block;
	content: '';}
	
.animated-arrow span:before{
	top: -7px;}
	
.animated-arrow span:after {
	bottom: -7px;}

/*Animation None */
.wsmenu-list li > .wsmenu-submenu{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	}
	
.wsmenu-list li:hover > .wsmenu-submenu{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	}

.wsmenu-submenu li > .wsmenu-submenu-sub{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	}
	
.wsmenu-submenu li:hover > .wsmenu-submenu-sub{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	opacity:1  !important;
	}

.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	opacity:1  !important;
	}
	
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	opacity:1  !important;
	}


.wsmenu-list li > .megamenu{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	opacity:1  !important;
	}
	
.wsmenu-list li:hover > .megamenu{
	transform:none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform:none !important;
	transform: none !important;
	-o-transform:none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility:visible !important;
	opacity:1  !important;
	}

	

}

.wrapper{
	width:100%;
	margin:0 auto;
	padding:0px;
	min-width:320px;}

.header{
	width:100%;
	display:block;
	min-height:142px;
	padding-top:0px;}
.logo{
	padding:10px 0px 10px 0px;
	margin:0 auto;	}
.search{
	display: block;
    padding-top: 14px;
    text-align: right;
    padding-right: 50px;
	margin-right:200px;
    position: fixed;
    z-index: 101;
    height: 52px;
	width:100%
}
.searchdestop{
	display: block;
    position: absolute;
    z-index: 100;
    height: 52px;
    top: 34px;
    right: 20px;
}
.close{
	font-size:22px;
	opacity:0.8;
	color:#ffffff;
}
.khung-dang-nhap{
	color:#01458e;
	cursor:pointer;
	display: flex;
    gap: 5px;
    align-items: center;
}
.khoang-cach-5{
	padding-left:5px;
	padding-right:5px;
}
.icon-khai-giang{
	float:left; 
	font-size:32px; 
	opacity:0.5;
	margin-right:10px;
}


.banner{
	position:relative;
	background-size:cover;
	background-position:left;
	height:450px;
}

.tieu-de-muc{
	color:#01458e;
	font-size:26px;
	font-family:Arial, Helvetica, sans-serif;
	margin:40px 0px 30px 0px;
	text-transform:uppercase;
}
.gioi-thieu{
	background-color:#ffffff; 
	padding-top:0px; 
	padding-bottom:8px;
	
}
.gioi-thieu p{
	font-size:14px;
	font-family:Helvetica, Arial, sans-serif;
	line-height:24px;
	color:#151414;
	text-align:justify;
}
.khung {
	position:relative;
	margin:auto;
	width:100%;
	height:100%;
	text-align:center;
}
.khung .canh-noi-dung{
	padding:0px;
	margin: auto;
}
.khung .noi-dung{
	position:absolute;
	left:0%;
	top:10%;
	text-align:center;
	width:100%;
	font-family: Helvetica, Arial, sans-serif;
	color:#FFF;
	padding:3px;
	line-height:24px;
}

.khung .bieu-tuong{
	width:50px;
	margin-top:14px;
	
}
.khung .khung-bieu-tuong{
	width:80px;
	height:80px;
	margin:auto;
	border:1px solid #ffffff;
	border-radius:80px;
}
.khung .tieu-de{
	font-size: 18px;
    margin: 25px 0px;
}
.khung .mo-ta{
	font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
	margin:0px 15px;
}
.khung .nganh{
	display:block;
	padding-top:100%;
	opacity:0.9;
	margin:10px;
}
.khung .nganh:hover{
	opacity:1;
}
.pad-10{
	padding-left:10px;
	padding-right:10px;
}
.thong-tin{
	width: 30%;
	position: absolute;
	top:5%;
	left:8%;
}

.danh-sach-hoc-vien{
	position:relative;

	margin:auto;
	height:320px;
	background-size:cover;
	background-position: center;
}
.danh-sach-hoc-vien .cach-tren{
	top:10%;
}
.danh-sach-hoc-vien .sinh-vien{
	width:200px;
	height:200px;
	border-radius:200px;
	background-size:cover;
	margin:auto;
	border:2px solid #f97249;
}

.danh-sach-hoc-vien .cam-nhan {
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    margin-top: 0px;
    height: 200px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2px;
    background-color: #ffffff;
    opacity: 0.6;
    padding: 20px !important;
    border-radius: 10px;
	width:90%;
}

.footer{
	width:100%;
	background-color:#01458e;
	margin-top:10px;
}

#slider-hoc-vien .owl-item div{
  padding:5px;
}
#slider-hoc-vien .owl-item img{
  display: block;
  width: 100%;
  height: auto;
}
.tuyen-sinh .tin-chinh
{
	float:left;
	width:100%
}
.tuyen-sinh .tin-chinh:hover .tieu_de{
	color:#f97249 ;
}
.tuyen-sinh .bieu-tuong{
	font-size:40px; 
	color:#f97249;
}
.tuyen-sinh .tieu_de_phu
{
	width:100%;
	height:50px;
	padding:5px;
	background-color:rgba(0,0,0,0.3);
	color:#fff;
	position:absolute;
	left:0;
	bottom:-50px;
	font-size:18px;
	line-height:20px;
	transition:all 1s ease-out;
}
.tuyen-sinh .tin-phu {
    display: block;
    padding-top: 49.63%;
	border: 3px solid #01458e;
}
.tuyen-sinh .tin-phu:hover {
	border: 3px solid #f97249;
}
.tuyen-sinh .tin-phu:hover .noi-dung{
	color: #f97249;
}
.tuyen-sinh .noi-dung {
    position: absolute;
    left: 0%;
    top: 20%;
    text-align: center;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #01458e;
    padding: 3px;
}
.tuyen-sinh .tieu-de {
	font-size:18px;
	margin-top:4%;
	padding: 0px 10px;
}
.tuyen-sinh .tieu_de {
	width: 100%;
    padding: 10px 0px;
    color: #504f4f;
    font-size: 20px;
    line-height: 28px;
}
.tin-tuc .tin-chinh:hover .tieu_de{
	color:#f97249 ;
}
.tin-tuc .tieu_de {
    width: 100%;
    padding: 10px 0px;
    color: #504f4f;
    font-size: 20px;
    line-height: 28px;
}

.tin-tuc .noi-dung{
	border-bottom:1px solid  #CCC;
	padding:5px 0px 8px 0px;
	margin-left:10px;
	margin-bottom:0px;
}
.tin-tuc .tieu-de-phu{
	font-size:14px; 
	padding:10px 0px; 
	color:#504f4f; 
	line-height:26px;
	text-transform:uppercase;
}
.tin-tuc .noi-dung:hover .tieu-de-phu{
	color:#f97249 ;
}
.dac-diem .noi-dung{
	padding: 0px 0px 25px 0px;
}
.dac-diem .mo-ta{
	font-size: 20px;
    padding: 0px;
    color: #504f4f;
    line-height: 24px;
    vertical-align: middle;
    height: 60px;
    display: table-cell;
}
.dac-diem .bieu-tuong{
	width:60px; 
	height:60px; 
	background-color:#01458e; 
	color:#ffffff; 
	border-radius:5px; 
	font-size:30px; 
	text-align:center; 
	padding-top:20px; 
	float:left;
	margin-right:20px;
}
.footer .nhomcs {
    color: #FFF;
    padding-left: 0;
    line-height: 26px;
}
.footer .tencs {
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: 3px;
}
.footer .nhap-email{
	float: left;
	width: 80%;
	max-width:280px;
    border-color: #ffffff;
    background-color: #ffffff;
    border-radius: 0;
    font-size: 14px;
	margin-right:1px;
}
.footer .dang-ky{
	font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #ffffff;
    padding: 2px 10px;
    border: 1px solid #ffffff;
    float: left;
}
.loai-chuong-trinh{
	text-align:left;
}
@media screen and (max-width:1024px)
{
	.banner{
		background-position:center;
		height:350px;
	}
	
	.gioi-thieu{
		background-color:#ffffff; 
		padding-top:10px; 
		padding-bottom:10px;
		
	}
	.gioi-thieu div{
		padding-left:0px;
		padding-right:0px;
	}
	.gioi-thieu p{
		font-size:14px;
		font-family:Helvetica, Arial, sans-serif;
		line-height:22px;
		padding-top:5px;
		color:#151414;
		text-align:justify;
	}
	
	.khung {
		position:relative;
		margin:auto;
		width:100%;
		height:100%;
		text-align:center;
	}
	.khung .title{
		position:absolute;
		left:0%;
		top:10%;
		text-align:center;
		width:100%;
		font-family: Helvetica, Arial, sans-serif;
		color:#FFF;
		font-size:16px;
		padding:3px;
		line-height:20px;
	}
	.khung .bieu-tuong{
		width:50px;
		margin-top:14px
	}
		
	
	.tuyen-sinh .tin-chinh
	{
		float:left;
		overflow:hidden;
	}
	.tuyen-sinh .tieu_de
	{
		width:100%;
		height:60px;
		padding:10px 0px;
		color:#504f4f;
		font-size:18px;
		line-height:22px;
	}
	
	.tuyen-sinh .tieu_de_phu
	{
		width:100%;
		height:35px;
		padding:5px;
		color:#504f4f;
		font-size:14px;
		line-height:14px;
	}
	
	.tuyen-sinh .noi-dung {
		position: absolute;
		left: 0%;
		top: 10%;
		text-align: center;
		width: 100%;
		font-family: Helvetica, Arial, sans-serif;
		color: #01458e;
		padding: 3px;
	}
	.tuyen-sinh .bieu-tuong{
		font-size:30px; 
		color:#f97249;
	}
	.tuyen-sinh .tieu-de {
		font-size:14px;
		margin-top:4%;
	}
}
@media screen and (max-width:760px)
{
	.banner{
		background-position:left;
		height:260px;
	}
	
	.icon-khai-giang{
		display:none;
	}
	.tieu-de-ngay-khai-giang{
		display:none;
	}
	.searchdestop{
		display: none;
	}
	.canh-trai{
		width: 40%;
	}
	.detail{
		width:40%;
		float:left;
		margin-right:10px;
		border: 1px solid #CCC;
	}
	.khoang-cach-5{
		padding-left:0px;
		padding-right:0px;
	}
		
	.thong-tin{
		width: 50%;
		position: absolute;
		top:0%;
		left:2%;
	}
	.sidebar{
		margin-top:10px;
	}
	.tieu-de-muc{
		color:#01458e;
		font-size:26px;
		font-family:Arial, Helvetica, sans-serif;
		margin:50px 0px 12px 0px;
		text-transform:uppercase;
	}
	.gioi-thieu{
		background-color:#ffffff; 
		padding-top:10px; 
		padding-bottom:10px;
		
	}
	.gioi-thieu div{
		padding-left:5px;
		padding-right:5px;
	}
	.gioi-thieu p{
		font-size:14px;
		font-family:Helvetica, Arial, sans-serif;
		line-height:20px;
		padding-top:0px;
		color:#151414;
		text-align:justify;
	}
	
	.khung {
		position:relative;
		margin:auto;
		width:100%;
		height:100%;
		text-align:center;
		
	}
	.khung .title{
		position:absolute;
		top:5%;
		left:0%;
		text-align:center;
		width:100%;
		font-family: Helvetica, Arial, sans-serif;
		color:#FFF;
		font-size:14px;
		padding:2px;
		line-height:20px;
	}
	.khung .bieu-tuong{
		width:50px;
		margin-top:14px
	}
	.khung .canh-noi-dung{
		padding:0px;
		margin: auto;
		max-width:285px;
	}
	
	.danh-sach-hoc-vien .cam-nhan{
		display:none;
	}
	.footer{
		margin-top:5px;
	}
	
	.tuyen-sinh .noi-dung {
		position: absolute;
		left: 0%;
		top: 25%;
		text-align: center;
		width: 100%;
		font-family: Helvetica, Arial, sans-serif;
		color: #01458e;
		padding: 3px;
	}
	.tuyen-sinh .bieu-tuong{
		font-size:40px; 
		color:#f97249;
	}
	.tuyen-sinh .tieu-de {
		font-size:18px;
		margin-top:8%;
	}
	.loai-chuong-trinh{
		text-align:left;
	}
}
@media screen and (max-width:480px)
{
	.banner{
		background-position:left;
		height:260px;
	}
		
	.thong-tin{
		width: 50%;
		position: absolute;
		top:0%;
		left:2%;
	}
	.tieu-de-muc{
		color:#01458e;
		font-size:22px;
		font-family:Arial, Helvetica, sans-serif;
		margin:20px 0px 12px 0px;
		text-transform:uppercase;
	}
	.gioi-thieu{
		background-color:#ffffff; 
		padding-top:10px; 
		padding-bottom:10px;
		
	}
	.gioi-thieu div{
		padding-left:5px;
		padding-right:5px;
	}
	.gioi-thieu p{
		font-size:14px;
		font-family:Helvetica, Arial, sans-serif;
		line-height:20px;
		padding-top:0px;
		color:#151414;
		text-align:justify;
	}
	
	.khung {
		position:relative;
		margin:auto;
		width:100%;
		height:100%;
		text-align:center;
	
	}

	.dac-diem iframe{
		height: 240px !important;
	}
    .tuyen-sinh .noi-dung {
		position: absolute;
		left: 0%;
		top: 10%;
		text-align: center;
		width: 100%;
		font-family: Helvetica, Arial, sans-serif;
		color: #01458e;
		padding: 3px;
	}
	.tuyen-sinh .bieu-tuong{
		font-size:30px; 
		color:#f97249;
	}
	.tuyen-sinh .tieu-de {
		font-size:14px;
		margin-top:2%;
	}
}



.show-grid{background-color:#fff; }

.viewmorebtn{width:148px; height:39px; display:block; padding:8px 10px; font-size:15px; position:fixed; bottom:0px; right:28px; color:#fff; background-color:#424242; -webkit-border-radius: 4px 4px 0px 0px; -moz-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; text-align:center; font-weight:bold; }
.viewmorebtn:hover{ color:#fff; text-decoration:none;}

@-webkit-keyframes rotating  {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/*Color Demo*/

.moreoption{ width:100%; display:block;  margin-top:250px;}
.moreoption .boxheader{ border:solid 0px; padding-top:25px; padding-bottom:10px; font-size:17px; }



.buttoncolor{
	color: #fff;
    display: block;
    font-size:13px;
    padding:10px 15px;
    text-decoration: none;
    transition: background 0.3s linear 0s;
    width:12.5%;
	height:30px;
	float:left;
	text-align:center;
	margin:0px 0px;
}
.buttoncolor:hover{ color:#fff; text-decoration:none;}
.buttoncolor:focus{ color:#fff; text-decoration:none;}

.headertlt{ width:100%; padding:40px 0px 15px 0px; letter-spacing:-0.5px; font-size:22px; font-family: 'archivo_narrowregular'; color:#424242;}

.colorlink01{width:40%; float:left; margin:0% 0% 0% 2%; }
.colorlink02{width:40%; float:left; margin:0% 0% 0% 2%; }
.colorlink03{width:14%; float:left; margin:0% 0% 0% 2%; }

.buttoncolor02{
	color: #424242;
    display: block;
    font-size:15px;
	border-radius:2px;
	height:30px;
    padding:10px 15px;
    text-decoration: none;
    transition: background 0.3s linear 0s;
    width:100%;
	border-right:solid 5px #fff;
	float:left;
	text-align:center;
	margin:0% 0% 0% 0%;
	background-color:#f2f2f2;
	border:solid 1px #D9D9D9;
	cursor:pointer;
	text-align:center !important; 
	text-decoration:none !important;
	width:50%; float:left;
}
.buttoncolor02:hover{background-color:#424242; color:#000;}
.buttoncolor02.active{background-color:#424242; color:#fff;}

.main-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
} 

@media only screen and (min-width: 230px) and (max-width:780px){
.wrapper { width:100%; margin:0% 0%; }
.header{min-height:54px;}
.logo { display:none !important; }
.header{ box-shadow:none !important; background-image:none !important; }
.colorlink01{ width:92% !important; margin:0% 4%;}
.colorlink02{ width:92% !important; margin:0% 4%;}
.colorlink03{ width:92% !important;  margin:0% 4%;}
.buttoncolor02{ width:100% !important; margin-bottom:2%; }
.buttoncolor{ width:25%; }
.moreoption{ width:100%; margin:85px 0 0 0; background-color:transparent !important; border:none !important;
-webkit-box-shadow:none !important;
-moz-box-shadow:none !important;
box-shadow:none !important;
}

}

@media only screen and (min-width: 781px) and (max-width:1064px) {
.wrapper { width:100%; margin:0% 0%; }
.colorlink01{ width:100% !important; margin:0%;}
.colorlink02{ width:100% !important; margin:0%;}
.colorlink03{ width:100% !important; margin:0%;}
.buttoncolor02{ width:50% !important; margin-bottom:1%; }
.logo{ float:none !important; margin:0 auto !important; width:100% !important;}
}


@media only screen and (min-width: 1024px) and (max-width:1200px) {
.wrapper { width:100%; margin:0% 0%; }
.colorlink01{ width:100% !important; margin:0%; }
.colorlink02{ width:100% !important; margin:0%;}
.colorlink03{ width:100% !important; margin:0%;}

}
@media (min-width: 768px)
{
	.modal-dialog {
		width: 400px;
		margin: 20px auto;
	}
}

.container .faq
{
	background:#FFF;
	border: 1px solid #b7b7b7;
	margin: 12px auto;
	width:244px;
}
.container .faq .label
{
	background:url("https://new.e-learning.vn/template/frontend/images/TSDTTX/label_FAQs.png") no-repeat center;
	background-size:contain; 
	height: 44px;
	margin: 10px 0 0 0;
	font-size: 14px;
	color: #fff;
	padding-left: 20%;
	line-height: 44px;
	text-transform: uppercase;
	font-weight:normal;
	display:block;    
}
.container .faq .text
{
	padding: 15px 15px 25px 25px;
	font-size: 14px;
}
.container .faq .text ul
{
	margin: 0;
	padding: 0;
}
.container .faq .text ul li
{
	text-align:justify;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
	border-bottom: 1px dashed #333;
}
.container .faq .text ul li a
{
	text-decoration: none;
	color: #000;
}
.container .faq .text ul li a:hover
{
	text-decoration: underline;
}
/* Pages */
.box
{
	background: #FFF;
	border: 1px solid #b7b7b7;
	margin: 12px auto;
	padding: 30px 30px 18px;
}
.box h3
{
	margin: 15px 0 5px 0;
}
.box p
{
	line-height: 20px;
}

/* Contact */
.box .label
{
	width: 150px;
	height: 40px;
	background: #01458e;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	margin-bottom: 20px;
	display: block;
}

.box  label
{
	display: block;
	margin-bottom: 3px;
	margin-left: 3px;
	font-weight: bold;
	font-size: 14px;
}
.box .input
{
	width: 240px;
	height: 25px;
	border: 1px solid #b7b7b7;
	line-height: 25px;
	padding: 5px;
	display: block;
	margin-bottom: 10px;
	color: #646262;
}


.box .submit
{
	border: none;
	padding: 7px 25px;
	color: #FFF;
	background: #01458e;
	float: right;
	border-radius: .25em
}
.box .submit:hover
{
	cursor: pointer;
}
.box .submit:active
{
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}
.pad-0
{
	padding-left:0px;
	padding-right:0px;
}
.tieu-de-noi-dung
{
	font-size:x-large;
	font-weight: bold;
	line-height:28px;
	margin: 12px 0px;
	color:#000000;
}
ul
{
	list-style-type:disc !important;
	
}
ul ul
{
	list-style-type:circle !important;
	margin-left:30px !important;
}
/* news */
.news-box
{
	width: 650px;
	display: block;
	margin-bottom: 10px;
	padding: 0 10px 10px 0;
	border: 1px solid #b7b7b7;
	font-size: 12px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(40%,#fbfbfb), color-stop(100%,#f7f7f7));
	background: -moz-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(40%,#fbfbfb), color-stop(100%,#f7f7f7));
	background: -ms-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(40%,#fbfbfb), color-stop(100%,#f7f7f7));
	background: gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(40%,#fbfbfb), color-stop(100%,#f7f7f7));
}
.news-box .image
{
	float: left;
	padding: 10px 20px 10px 10px;
}
.news-box .image img
{
	width: 180px;
	height: 120px;
}
.news-box h3
{
	margin: 10px 10px 4px 0;
	padding: 0;
}
.news-box a
{
	color: #4285cd;
	text-decoration: none;
}
.news-box a:hover
{
	text-decoration: underline;
}
.news-box .time
{
	font-size: 10px;
	color: #959595;
	margin-bottom: 5px;
}
.new-box .time img
{
	width: 14px;
	height: 14px;
}
.news-box p
{
	text-align: right;
	font-weight: bold;
	font-style:italic;
	margin-top: 3px;
}
.page-navi a {
    padding: 0 5px;
}

.blue-grdt > .wsmenu-list > li > a {
    background-color: transparent !important;
}
.blue-grdt > .wsmenu-list > li > a {
    color: #fff !important;
}
.wsmenu-list > li > a.active {
    background-color: rgba(0,0,0,0.3) !important;
    text-decoration: none;
}